 * {
	 margin: 0 auto;
	 padding:0;
 }
 
 body{
	 width:100%;
	 height:110%;
	 background:#f8f8f8;
 }
 
 
 #wrapper{
	 width:500px;
	 height:670px;
 }
 
 #main{
	 width:450px;
	 height:auto;
	 margin-top:50%;
	 background-color:#f8f8f8;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	 
 }
 
 #head{
	 height:12%;
	 text-align:center;
	 background-color:yellow;
	 
	
	 
	 }
	 
 .heads{
	 border-top-left-radius:4px;
	border-top-right-radius:4px;
	color:#fff;
	
	
	  background: -moz-linear-gradient(top,  #62952F 1%, #7CFC00 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,  #6588A7), color-stop(100%, #ededed));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #62952F 1%, #7CFC00 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #62952F 1%, #7CFC00 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #62952F 1%, #7CFC00 160%);
    /* IE10+ */
    background: linear-gradient(to bottom,  #62952F 1%, #7CFC00 160%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=' #6588A7', endColorstr='#3C5164', GradientType=0);
    /* IE6-9 */
 }
 .heads h1{
	 padding-top:1%;
 }

 #content{
	 width:450px;
	 height:100%;
	 text-align:center;
	 margin-top:-10px;
	 background-color:#fff;
 }
 
 #frm{
		width:350px;
		height:150px;
 }
 #frm p{
	 float:left;
	 width:30%;
	 font-size:100%;
	 float:left;
	
 }
 
	 input[type=text]{
		width:100%;
		border:2px solid #aaa;
		border-radius:4px;
		margin:8px 0;
		outline:none;
		padding:8px;
		box-sizing:border-box;
		
		}
		
		input[type=text]:focus{
			border-color:dodgerblue;
			box-shadow:0 0 8px 0 dodgerblue;
		}
	
		
	 .sub{
		border:none;
		padding:3%;
		color:#fff;
		background:#333;
		border-top-left-radius:3px;
		border-top-right-radius:3px ;
		border-bottom-left-radius:3px ;
		border-bottom-right-radius:3px ;
		
		color:;
			  
	  background: -moz-linear-gradient(top, #CC1B58 1%, #66470D 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,  #CC1B58), color-stop(100%, #66470D));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #CC1B58 1%, #66470D 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #CC1B58 1%, #66470D 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #CC1B58 1%,#66470D 160%);
    /* IE10+ */
    background: linear-gradient(to bottom,  #CC1B58 1%,#66470D 160%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC1B58', endColorstr='#66470D', GradientType=0);
    /* IE6-9 */
	
	}
	
	.sub:hover{
		color:red ;
			  
	  background: -moz-linear-gradient(top, #333333 1%, #ededed 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,  #ededed), color-stop(100%, #ededed));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #333333 1%, #ededed 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #333333 1%, #ededed 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #333333 1%,#ededed 160%);
    /* IE10+ */
    background: linear-gradient(to bottom,  #333333 1%,#ededed 160%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#ededed', GradientType=0);
    /* IE6-9 */
	
	box-shadow:0 0 2px 0 #444 ;
		cursor:pointer;
	}
	input[type=submit]:link{
		background:blue;
		color:red;
	}
	
		
	.input{
		margin-top:5px;
	
	}
	.input2{
		margin-top:5px;
		
	}
	#kondisi{
		margin-right:200px;
	}
	
	.buttons{
		margin-top:10px;
		padding:3px;
		color:#fff;
	text-decoration:none;
	text-align:center;
	margin-left:20%;
	}
	.a1 {
		
	}
	
	.buttons a {
		
			color:#fff;
	text-decoration:none;
	   border-radius: 2px;
    border: 0px;
	border-color:#fff;
    width: 70px;
    height:25px;
    font-family: Tahoma;
    background: #6588A7;
	color:#fff;
	padding:5px;
	text-decoration:none;

	float:left;
	margin-left:10px;
	color:#fff;
	text-decoration:none;
	text-align:center;
	
	     background: -moz-linear-gradient(top,  #62952F 1%, #7CFC00 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,  #6588A7), color-stop(100%, #ededed));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #62952F 1%, #7CFC00 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #62952F 1%, #7CFC00 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #62952F 1%, #7CFC00 160%);
    /* IE10+ */
    background: linear-gradient(to bottom,  #62952F 1%, #7CFC00 160%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=' #6588A7', endColorstr='#3C5164', GradientType=0);
    /* IE6-9 */
		color:#fff;
		text-decoration:none;
		
	}
	
	.buttons a:hover{
		color:red;
			  
	  background: -moz-linear-gradient(top, #FFB322 1%, #66470D 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,  #66470D), color-stop(100%, #ededed));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FFB322 1%, #66470D 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #FFB322 1%, #66470D 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #FFB322 1%,#66470D 160%);
    /* IE10+ */
    background: linear-gradient(to bottom,  #FFB322 1%,#66470D 160%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFB322', endColorstr='#66470D', GradientType=0);
    /* IE6-9 */
	box-shadow:0 0 2px 0 red ;
	}
	
	.logout{
		position:fixed;
		text-align:right;
		
	}
	.logout a{
		margin-left:100px;	
	}
	
	/*
	.kondisi, p ,label{
		margin-top:5px;
		font-size:100%;
		float:left;
		margin-top:1%;
	}
	*/
	
 	@media screen and (max-width: 850px){
	#font-ch2{
		font-size:1.8em;
	}
}
@media screen and (max-width: 791px){
	#font-ch2{
		font-size:1.6em;
	}
}
@media screen and (max-width: 727px){
	#font-ch2{
		font-size:1.4em;
	}
}
@media screen and (max-width: 690px){
	#font-ch2{
		font-size:1.2em;
	}
}

 
 @media screen and (max-width:440px){
	
#wrapper{
		width:100%;
		height:100%;
	}
	#main{
		width:80%;
		height:80%;
		
	}
	#head{
		width:100%;
		height:15%;
		font-size:80%;
	}
	
	#content{
		width:100%;
		height:90%;
		margin-top:5%;
		font-size:80%;
		
	}
	
	input[type=text]{
		width:100%;
		float:left;
	}
	#frm{
		width:100%;
		height:100%;
	}
	 input[type=text]{
		 width:100%;
		 height:8%;
	 }
	
	
 }
 
  @media screen and (max-width:432px){
	
	#wrapper{
		width:100%;
		height:100%;
	}
	#main{
		width:80%;
		height:80%;
		
	}
	#head{
		width:100%;
		height:15%;
		font-size:80%;
	}
	
	#content{
		width:100%;
		height:90%;
		margin-top:5%;
		font-size:80%;
		
	}
	
	input[type=text]{
		width:100%;
		float:left;
	}
	#frm{
		width:100%;
		height:100%;
	}
	 input[type=text]{
		 width:100%;
		 height:8%;
	 }
	
	
 }
 
	@media screen and (max-width:302px){
	 
 }
 
  @media screen and (max-width:302px){
#wrapper{
		width:100%;
		height:100%;
	}
	#main{
		width:80%;
		height:80%;
		
	}
	#head{
		width:100%;
		height:15%;
		font-size:80%;
	}
	
	#content{
		width:100%;
		height:90%;
		margin-top:-10%;
		font-size:80%;
		
	}
	
	input[type=text]{
		width:100%;
		float:left;
	}
	#frm{
		width:100%;
		height:100%;
	}
	 input[type=text]{
		 width:100%;
		 height:8%;
	 }
	
  }
 
 